elantech-client/node_modules
elantech-server/node_modules
MigrationScript/NewDBDump/__pycache__
MigrationScript/NewDBSchema/__pycache__
MigrationScript/OldDBSchema/__pycache__
MigrationScript/OldDBSchema/__pycache__/Users.cpython-310.pyc
MigrationScript/OldDBSchema/__pycache__/ReceivedOrders.cpython-310.pyc
MigrationScript/OldDBSchema/__pycache__/Quotes.cpython-310.pyc
MigrationScript/OldDBSchema/__pycache__/ProductQuote.cpython-310.pyc
MigrationScript/OldDBSchema/__pycache__/Product.cpython-310.pyc
MigrationScript/OldDBSchema/__pycache__/Inventory.cpython-310.pyc
MigrationScript/OldDBSchema/__pycache__/Company.cpython-310.pyc
MigrationScript/OldDBSchema/__pycache__/__init__.cpython-310.pyc
MigrationScript/NewDBSchema/__pycache__/NewReceivedOrder.cpython-310.pyc
MigrationScript/NewDBSchema/__pycache__/NewQuotes.cpython-310.pyc
MigrationScript/NewDBSchema/__pycache__/NewQuotedProducts.cpython-310.pyc
MigrationScript/NewDBSchema/__pycache__/NewProduct.cpython-310.pyc
MigrationScript/NewDBSchema/__pycache__/NewInventory.cpython-310.pyc
MigrationScript/NewDBSchema/__pycache__/NewCompany.cpython-310.pyc
MigrationScript/NewDBSchema/__pycache__/__init__.cpython-310.pyc
MigrationScript/DBDumpJSON/*
MigrationScript/NewDBDump/*