th,
td {
  font-weight: 300;
}

.expandedProductRow {
  background: #212529;
}

.react-bootstrap-table .row-expansion-style {
  padding: 0 !important;
}

.btn-dark {
  font-weight: 300;
}

.dropdown-item {
  font-weight: 300 !important;
}

.react-bootstrap-table table {
  table-layout: auto !important;
}

.pagination>li>a {
  background-color: white;
  color: #2c3034;
}

.pagination>.active>a {
  color: white;
  background-color: #2c3034 !important;
  border: solid 1px #2c3034 !important;
}

.pagination>.active>a:hover {
  background-color: #2c3034 !important;
  border: solid 1px #2c3034 !important;
}

.debounce {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.sr-only {
  display: none;
}
