th {
  font-weight: 400;
}
.expandedProductRow {
  background: #212529;
}
.react-bootstrap-table .row-expansion-style {
  padding: 0 !important;
}

.react-bootstrap-table table { table-layout: auto !important; }


.pagination > li > a
{
    background-color: white;
    color: #2C3034;
}


.pagination > .active > a
{
    color: white;
    background-color: #2C3034 !Important;
    border: solid 1px #2C3034 !Important;
}

.pagination > .active > a:hover
{
    background-color: #2C3034 !Important;
    border: solid 1px #2C3034 !Important;
}