::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(88, 80, 80, 0.253);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.568);
}
.app {
  height: -webkit-fill-available;
}
/* Bootstrap Override for pagination page-link making it deeper in layout*/
.page-item:last-child .page-link {
  z-index: inherit !important;
}
.main-section {
  position: absolute;
  bottom: 0;
  top: 55px;
  margin: 30px;
  background: #2C2F33;
  width: -webkit-fill-available;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.login-main-section {
  position: absolute;
  margin: 30px;
  top: 0;
  bottom: 0;
  background: #2C2F33;
  min-width: 500px;
  width: -webkit-fill-available;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}